aiofiles==24.1.0
aiogram==3.20.0.post0
aiohttp==3.11.18
aiodns==3.2.0
pycares==4.4.0
aiosignal==1.3.2
DateTime==5.5
vk_api==11.10.0
asyncio==4.0.0
attrs==25.3.0
beautifulsoup4==4.13.4
bs4==0.0.2
Faker==37.6.0
geopy==2.4.1
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
lxml==5.4.0

phonenumbers==9.0.13
pydantic==2.11.4
pydantic_core==2.33.2
python-dotenv==1.1.0
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
six==1.17.0
SQLAlchemy==2.0.43
Telethon==1.40.0

